*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}
body{
    font-size: 28px;
    background-color: var(--Dark-Blue);
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 2.5rem 2.5rem;
    border-radius: 15px;
    width: 40%;
    height: 10%;
    text-align: center;
    margin-bottom: 4rem;
    background-color:var(--Dark-Grayish-Blue);
    line-height: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.attribution{
    color: white;
    font-size: 20px;
}
.attribution a{
    color: gold;
}
#header{
    color: var(--Neon-Green);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 6px;
    font-family: manrope;
    font-weight: 200;
}
#text{
    color: white;
    font-weight: 800;
    font-family: manrope;
}
.divider{
    top: 1rem;
    position: relative;
}
.dice-container{
    border-radius: 100%;
    background-color: var(--Neon-Green);
    width: 50px;
    height: 50px;
    top: 3.9rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.dice-container:hover{
    box-shadow: 2px 2px 7px var(--Neon-Green),
                -2px 0px 7px var(--Light-Cyan);
}
@media screen and (max-width:375px) {
    body{
        justify-content: start;
    }
    .container{
        width: 80%;
        margin-inline: 0.5rem;
        padding: 1.5rem 1rem;
    }
    .divider img{
        width: 80%;
    }
    .dice-container{
        top: 3rem;
    }
    .attribution{
        text-align: center;
        padding-block: 0 2rem;
    }
}